.jumbotron{
    /* background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover; */
    min-height: 420px;
}
.slider{
    background-color: #4d4d4d;
    height: 1000px;
}
.bg-donasi{
    background-color: #f2f4f7;
}